- model_class = Record
.page-header
  %h1
    = t '.title', :default => model_class.model_name.human.pluralize.titleize
    for the zone
    = @zone.fqdn
- unless @zone.records.where(committed: false).empty?
  .alert.fade.in.alert-danger
    Zone contains uncommitted entries
    = link_to t('.commit_zone'), zone_commit_path(@zone), :class => 'btn btn-primary'
    %button.close{"data-dismiss": "alert"}
      &times;
- else
  .alert.fade.in.alert-success
    Zone does not contain uncommitted changes
    %button.close{"data-dismiss": "alert"}
      &times;

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:ttl)
      %th= model_class.human_attribute_name(:rrtype)
      %th= model_class.human_attribute_name(:priority)
      %th= model_class.human_attribute_name(:target)
      %th= model_class.human_attribute_name(:committed)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @records.each do |record|
      %tr
        %td= link_to record.id, zone_record_path(@zone, record)
        %td= record.name
        %td= record.ttl
        %td= record.rrtype
        %td= record.priority
        %td= record.target
        %td= (record.committed ? "yes" : "NO" )
        %td=l record.created_at
        %td
          - unless record.committed
            = link_to t('.commit'), zone_record_commit_path(@zone, record), :class => 'btn btn-danger btn-xs'
          = link_to t('.show', :default => t("helpers.links.show")), zone_record_path(@zone, record), :class => 'btn btn-default btn-xs'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_zone_record_path(@zone, record), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), zone_record_path(@zone, record), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_zone_record_path, :class => 'btn btn-primary'
